{{#integer}}{{quotedName}} INTEGER CONSTRAINT {{quotedPkName}} PRIMARY KEY AUTOINCREMENT{{/integer}}{{#biginteger}}{{quotedName}} INTEGER CONSTRAINT {{quotedPkName}} PRIMARY KEY AUTOINCREMENT{{/biginteger}}{{#uuid}}{{quotedName}} TEXT CONSTRAINT {{quotedPkName}} PRIMARY KEY{{/uuid}}{{#string}}{{quotedName}} VARCHAR(64) NOT NULL CONSTRAINT {{quotedPkName}} PRIMARY KEY{{/string}}
