{{#integer}}{{quotedName}} INTEGER PRIMARY KEY AUTOINCREMENT{{/integer}}{{#biginteger}}{{quotedName}} INTEGER PRIMARY KEY AUTOINCREMENT{{/biginteger}}{{#uuid}}{{quotedName}} TEXT PRIMARY KEY{{/uuid}}{{#string}}{{quotedName}} VARCHAR(64) NOT NULL PRIMARY KEY{{/string}}
