{{#integer}}{{quotedName}} SERIAL CONSTRAINT {{quotedPkName}} PRIMARY KEY{{/integer}}{{#biginteger}}{{quotedName}} BIGSERIAL CONSTRAINT {{quotedPkName}} PRIMARY KEY{{/biginteger}}{{#uuid}}{{quotedName}} UUID CONSTRAINT {{quotedPkName}} PRIMARY KEY DEFAULT gen_random_uuid(){{/uuid}}{{#string}}{{quotedName}} VARCHAR(64) NOT NULL CONSTRAINT {{quotedPkName}} PRIMARY KEY{{/string}}
