{{quotedName}} {{{nativeType}}}{{#notNull}} NOT NULL{{/notNull}}{{#primaryKey}} CONSTRAINT {{quotedPkName}} PRIMARY KEY{{/primaryKey}}{{#hasDefault}}{{#namedDefault}} CONSTRAINT {{quotedDefaultName}}{{/namedDefault}} DEFAULT {{{defaultExpr}}}{{/hasDefault}}
