{{#integer}}{{quotedName}} INT IDENTITY(1,1) CONSTRAINT {{quotedPkName}} PRIMARY KEY{{/integer}}{{#biginteger}}{{quotedName}} BIGINT IDENTITY(1,1) CONSTRAINT {{quotedPkName}} PRIMARY KEY{{/biginteger}}{{#uuid}}{{quotedName}} UNIQUEIDENTIFIER CONSTRAINT {{quotedPkName}} PRIMARY KEY CONSTRAINT {{quotedDefaultName}} DEFAULT NEWID(){{/uuid}}{{#string}}{{quotedName}} NVARCHAR(64) NOT NULL CONSTRAINT {{quotedPkName}} PRIMARY KEY{{/string}}
