{{#integer}}{{quotedName}} INT AUTO_INCREMENT PRIMARY KEY{{/integer}}{{#biginteger}}{{quotedName}} BIGINT AUTO_INCREMENT PRIMARY KEY{{/biginteger}}{{#uuid}}{{quotedName}} CHAR(36) PRIMARY KEY DEFAULT (UUID()){{/uuid}}{{#string}}{{quotedName}} VARCHAR(64) NOT NULL PRIMARY KEY{{/string}}
