{{#integer}}{{quotedName}} INT AUTO_INCREMENT, CONSTRAINT {{quotedPkName}} PRIMARY KEY ({{quotedName}}){{/integer}}{{#biginteger}}{{quotedName}} BIGINT AUTO_INCREMENT, CONSTRAINT {{quotedPkName}} PRIMARY KEY ({{quotedName}}){{/biginteger}}{{#uuid}}{{quotedName}} CHAR(36) DEFAULT (UUID()), CONSTRAINT {{quotedPkName}} PRIMARY KEY ({{quotedName}}){{/uuid}}{{#string}}{{quotedName}} VARCHAR(64) NOT NULL, CONSTRAINT {{quotedPkName}} PRIMARY KEY ({{quotedName}}){{/string}}
