DROP PROCEDURE IF EXISTS {{routineName}};
GO
CREATE PROCEDURE {{routineName}}(
{{{params}}}
)
BEGIN
{{#generatedId}}
  DECLARE new_id VARCHAR(36);
  SET new_id = UUID();
  INSERT INTO {{tableTok}} ({{cols}})
  VALUES ({{vals}});
  SELECT new_id AS {{pkName}};
{{/generatedId}}
{{^generatedId}}
  INSERT INTO {{tableTok}} ({{cols}})
  VALUES ({{vals}});
{{#lastInsertId}}
  SELECT LAST_INSERT_ID() AS {{pkName}};
{{/lastInsertId}}
{{^lastInsertId}}
  SELECT t.{{pkName}} AS {{pkName}} FROM {{tableTok}} t WHERE t.{{uuidCol}} = {{uuidCol}};
{{/lastInsertId}}
{{/generatedId}}
END;
GO
