DROP PROCEDURE IF EXISTS {{routineName}};
GO
CREATE PROCEDURE {{routineName}}(
{{{params}}}
)
BEGIN
  DELETE t FROM {{tableTok}} t
  WHERE t.{{pkName}} = {{pkName}} AND t.{{updatedCol}} = {{expectedUpdated}};
  SELECT ROW_COUNT() AS affected;
END;
GO
