CREATE OR REPLACE FUNCTION delete_{{entityName}}({{pkName}} {{pkType}}) RETURNS INT LANGUAGE plpgsql AS $$
DECLARE
  affected INT;
BEGIN
  DELETE FROM {{tableTok}} t WHERE t.{{pkName}} = delete_{{entityName}}.{{pkName}};
  GET DIAGNOSTICS affected = ROW_COUNT;
  RETURN affected;
END;
$$;
