CREATE OR REPLACE FUNCTION {{routineName}}({{pkName}} {{pkType}}) RETURNS SETOF {{tableTok}}
LANGUAGE sql AS $$ SELECT {{aliasedCols}} FROM {{tableTok}} t WHERE t.{{pkName}} = {{routineName}}.{{pkName}}; $$;
