CREATE OR REPLACE FUNCTION {{routineName}}({{byField}} {{fieldType}}) RETURNS SETOF {{tableTok}}
LANGUAGE sql AS $$ SELECT {{aliasedCols}} FROM {{tableTok}} t WHERE t.{{byField}} = {{routineName}}.{{byField}}; $$;
