CREATE OR ALTER PROCEDURE {{routineName}}
{{{params}}}
AS
BEGIN
  DELETE FROM {{tableTok}}
  WHERE {{pkName}} = @{{pkName}} AND {{updatedCol}} = @{{expectedUpdated}};
  SELECT @@ROWCOUNT AS affected;
END;
GO
